.loginLink {
  top: 20px;
  right: 30px;
  position: absolute;
  text-decoration: underline;
  cursor: pointer;
  color: #1E1E1E;
  text-align: center;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  font-family: 'Jua', sans-serif;
  font-size: 1.125rem; 
  line-height: normal;
  letter-spacing: 0.0625rem;
}

.title {
  position: relative;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #1E1E1E;
  font-family: 'Jua', sans-serif;
  font-size: 5rem;
  line-height: normal;
  letter-spacing: 0.3125rem;
  z-index: 1;
}

.title:before {
  content: "Welcome"; 
  visibility: visible;
  position: absolute;
  margin-top: 52px;
  transform: scale(1, -1);
  backface-visibility: visible; 
    -webkit-mask-image: 
      repeating-linear-gradient(transparent, transparent 3px, white 3px, white 4px),
      linear-gradient(transparent 50%, white 90%);
    mask-image:
      repeating-linear-gradient(transparent, transparent 3px, white 3px, white 4px),
      linear-gradient(transparent 50%, white 90%);
    z-index: 1;
}

/* Styles for tablet to desktop */
@media (min-width: 768px) {
  .loginLink {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.875rem; 
    letter-spacing: 0.125rem; 
    z-index: 1;
  }

  .title {
    position: absolute;
    top: 36rem;
    left: 25rem;
    font-size: 9.5rem; 
    letter-spacing: 0.9375rem;
    z-index: 1;
  }

  .title:before {
    margin-top: 100px;
    position: absolute;
    transform: scale(1, -1);
    backface-visibility: visible; 
    -webkit-mask-image: 
      repeating-linear-gradient(transparent, transparent 3px, white 3px, white 4px),
      linear-gradient(transparent 50%, white 90%);
    mask-image:
      repeating-linear-gradient(transparent, transparent 3px, white 3px, white 4px),
      linear-gradient(transparent 50%, white 90%);
    visibility: visible;
    z-index: 1;
  }
}