/* Mobile-first default styles */
.loginLink {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
  color: #1E1E1E;
  text-align: center;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  font-family: 'Jua', sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 1px;
}

.title {
  position: relative;
  text-align: center;
  text-decoration: bold;
  cursor: pointer;
  color: #1E1E1E;
  font-family: 'Jua', sans-serif;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 5px;
}

.title:before {
  visibility: hidden;
}

/* Styles for tablet to desktop */
@media (min-width: 768px) {
  .loginLink {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    letter-spacing: 2px;
    z-index: 1;
  }

  .title {
    position: absolute;
    top: 36rem;
    left: 25rem;
    font-size: 152px;
    letter-spacing: 15px;
    z-index: 1;
  }

  .title:before {
    margin-top: 100px;
    position: absolute;
    content: "Welcome";
    transform: scale(1, -1);
    backface-visibility: visible; 
    -webkit-mask-image: 
    repeating-linear-gradient(transparent, transparent 3px, white 3px, white 4px),
    linear-gradient( transparent 50%, white 90%);
    mask-image:
    repeating-linear-gradient(transparent, transparent 3px, white 3px, white 4px),
    linear-gradient( transparent 50%, white 90%);
    visibility: visible;
    z-index: 1;
  }
}